server:
  port: 8080
  servlet:
    context-path: /api

spring:
  application:
    name: pisces
  profiles:
    active: dev

logging:
  level:
    root: INFO
    com.pisces: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"

